<div class="pane">
  {{> heading caption=caption }}
  <div class="card-container">
    <div class="card">
      <a href="/spotify-add-toplaylist" class="button">
        <svg width="48" height="48" viewBox="0 0 48 48">
          <image href="/img/add.svg" width="48" height="48">
        </svg>
      </a>
      <span class='add-toplaylist'>{{text}}</span>
    </div>
    {{#each tracks}}
      <div class="track-container">
        <div class="card">
          <img src="{{trackImg}}" alt={{trackName}}>
          <div class="grid">
            <div class="trackName">{{trackName}}</div>
            <div class="trackSinger">{{trackSinger}}</div>
          </div>
        </div>
        <img src="/img/delete.svg" alt="delete track">
      </div>
    {{/each}} <!-- end of tracks -->
  </div>
</div>