<div class='wrapper'>
  <form
    action='/product-fixed'
    method='get'
    class='card-container-fixed'
  >
    {{#with product__fixed}}
      <img src='{{img}}' alt="Комп'ютер" />
      <div class='card'>
        <div class='product-name'>{{name}}</div>
        <hr />
        <p class='product-description'>{{description}}</p>
        <hr />
        <div class='block'>
          <label
            class='product-label'
            for='amount'
          >Кількість товару</label>
          <input
            class='product-input'
            type='text'
            name='amount'
          />
          <button
            class='product-button button blue-button'
          >{{button__text}}
            <span>{{price}}&#8372;</span></button>
        </div>
      </div>
    {{/with}}
  </form>
</div>