<div class='wrapper'>
  {{#with data}}
    <form
      action='/purchase-create'
      method='post'
      class='card-container-fixed'
    >
      {{#with product__fixed}}
        <img src='{{img}}' alt="Комп'ютер" />
        <div class='card'>
          <div class='productName'>{{name}}</div>
          <input type="hidden" name='productName' value="{{name}}">
          <hr />
          <p class='productDescription'>{{description}}</p>
          <input type="hidden" name='productDescription' value="{{description}}">
          <hr />
          <div class='block'>
            <label
              class='product-label'
              for='productAmount'
            >Кількість товару</label>
            <input
              class='product-input'
              type='text'
              name='productAmount'
            />
            <button class='product-button button blue-button' name="productPrice" value="{{price}}">
              {{button__text}} <span>{{price}}&#8372;</span>
            </button>
          </div>
        </div>
      {{/with}}
    </form>
      {{> heading center=true}}
    <form
      action='/product-fixed'
      method='post'
      class='card-container'
    >
      {{#each other__products}}
        <div class='card'>
          <img src='{{img}}' alt="Комп'ютер" />
          <div class='product-name'>{{name}}</div>
          <p class='product-description'>{{description}}</p>
          <div class='block'>
            <div class='badge green-badge'>{{status}}</div>
            <div
              class='badge blue-badge'
            >{{badge__text}}</div>
          </div>
          <button
            class='button blue-button'
          >{{button__text}}
            <span>{{price}}&#8372;</span></button>
        </div>
      {{/each}}
    </form>
  {{/with}}
</div>