<div class='wrapper'>
    <form action='/purchase-create' method='post' class='card-container-fixed'>
        <img src='{{img}}' alt="Комп'ютер" />
        <div class='card'>
          <div class='productName'>{{productName}}</div>
          <input type="hidden" name='productName' value="{{productName}}">
          <hr />
          <p class='productDescription'>{{productDescription}}</p>
          <input type="hidden" name='productDescription' value="{{productDescription}}">
          <hr />
          <div class='block'>
            <label 
              class='product-label'
              for='productAmount'
            >Кількість товару</label>
            <input
              class='product-input'
              type='text'
              name='productAmount'
            />
            <button class='product-button button blue-button' name="productPrice" value="{{productPrice}}">
              {{button__text}} <span>{{productPrice}}&#8372;</span>
            </button>
          </div>
        </div>
    </form>
      {{> heading caption=data.caption title=data.title center=true}}
    <form
      action='/product-fixed'
      method='post'
      class='card-container'
    >
      {{#each data.other__products}}
        <div class='card'>
          <img src='{{img}}' alt="Комп'ютер" />
          <div class='product-name'>{{name}}</div>
          <p class='product-description'>{{description}}</p>
          <div class='block'>
            <div class='badge green-badge'>{{status}}</div>
            <div
              class='badge blue-badge'
            >{{badge__text}}</div>
          </div>
          <button
            class='button blue-button'
          >{{button__text}}
            <span>{{price}}&#8372;</span></button>
        </div>
      {{/each}}
    </form>
</div>