<form action="/product-fixed" method="get" class="card-container-fixed">
            {{#with product__fixed}}
  <img src="{{img}}" alt="Комп'ютер">
  <div class="card">
    <div class='product-name'>{{name}}</div>
    <p class='product-description'>{{description}}</p>
    <button class="button blue-button">{{button__text}} <span>{{price}}&#8372;</span></button>
  </div>
</form> 
          {{/with}}