<main>
  <section>
    <form class='form'>
      <h1 class='form__caption'>Список продуктів</h1>
      {{#with data.products}}
        {{#if isEmpty}}
          <div class='form-title'>Порожній | (<a
              href='/product-create'
            >Створити</a>)</div>
        {{else}}
          <ul>
            {{#each list}}
              <li>{{name}}
                |
                {{price}}
                |
                {{description}}
                |
                {{id}}
                | (<a
                  href='/product-delete?id={{id}}'
                >Видалити</a>) | (<a
                  href='/product-create'
                >Створити</a>) | (<a
                  href='/product-update'
                >Оновити</a>)
              </li>
            {{/each}}
          </ul>
        {{/if}}
      {{/with}}
    </form>
  </section>
</main>