<div class="heading">
      {{#with data}}
  <h1 class='caption'>{{caption}}</h1>
  <div class='title'>{{title}}</div>
</div>
<div class="card-container">
            {{#each products}}
  <div class="card">
    <img src="{{img}}" alt="Комп'ютер">
      <h4>{{name}}</h4>
      <p>{{description}}</p>
      <div class="badge green">{{status}}</div>
      <div class="badge blue">{{badge__text}}</div>
    <a href='/product__fixed'>{{button__text}}{{price}}&#8372;</a>
    </div>
            {{/each}}
</div> 
      {{/with}}