<div class="heading">
      {{#with data}}
  <h1 class='caption'>{{caption}}</h1>
  <div class='title'>{{title}}</div>
</div>
<form action="/product-fixed" method="post" class="card-container">
            {{#each products}}
  <div class="card">
    <img src="{{img}}" alt="Комп'ютер">
    <h4>{{name}}</h4>
    <p>{{description}}</p>
    <div class="badge green-badge">{{status}}</div>
    <div class="badge blue-badge">{{badge__text}}</div>
    <button class="button blue-button">{{button__text}}{{price}}&#8372;</button>
  </div>
            {{/each}}
</form> 
      {{/with}}