<div class="pane">
  <div class="justify">
    {{> heading caption=caption }}
    <div>
      <a href='/spotify-search'>
        <svg width="48" height="48" viewBox="0 0 48 48">
          <image href="/img/search.svg" width="48" height="48">
        </svg>
      </a>
      <a href='/spotify-addplaylist'>
        <svg width="48" height="48" viewBox="0 0 48 48">
          <image href="/img/add.svg" width="48" height="48">
        </svg>
      </a>
    </div>
  </div>
  <div class='card-container'>
    {{#each playlist}}
    <div class='card'>
      <img width="365px" height="365px" src='{{playlistImg}}' alt="{{playlistName}}" />
      <div class='playlistName'>{{playlistName}}</div>
      <input type="hidden"  name='playlistName' value="{{playlistName}}">
      <div class='playlistAmount'>{{playlistAmount}} <span>пісень</span></div>
      <input type="hidden" name='playlistAmount' value="{{playlistAmount}}"> 
    </div>
    {{/each}}
  </div>
</div>