{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

{{!-- <div class="desk">
    {{#each mobileScreen}}
    <div class="page">
        <header>
            <div class="time">{{header.time}}</div>
            <div class="signs">
                <img src="{{header.signal}}" alt="signalLevel">
                <img src="{{header.wifi}}" alt="wifiLevel">
                <img src="{{header.power}}" alt="powerLevel">
            </div>
        </header>
        <main>
            <div class="panel">
                <img src="{{main.arrow}}" alt="backArrow">
                <img src="{{main.logo}}" alt="logo">
            </div>
            <div class="title">{{main.title}}</div>
            {{#if blog}}
              {{#each blog}}
              <div class="blog">
                <div class="blogTitle">
                    <div>
                        {{#if important}}<div class="badge">{{important}}</div>{{/if}}
                        {{#if new}}<div class="badge">{{new}}</div>{{/if}}
                    </div>
                    <div class="blogDate">{{date}}</div>
                </div>
                <p class="blogText">{{text}}</p>
              </div>
              {{/each}} <!-- end of blog -->
            {{/if}}
            {{#if comunity}}
            {{#each comunity}}
              <div class="tabs">
                <div class="tabHeader">
                {{#each tabs}}
                    <div class="tabTitle {{#if active}}active{{/if}}">{{title}}</div>
                {{/each}} <!-- end of tabs -->
                </div>
                {{#if badge}}<img src={{badge}} alt="Telegram comunity image">{{/if}}
                {{#if text}}<div class="tabText">{{text}}</div>{{/if}}
                {{#if description}}<p class="tabDescription">{{description}}</p>{{/if}}
                {{#if button}}<button class="tabButton">{{button}}</button>{{/if}}
              </div>
            {{/each}} <!-- end of comunity -->
            {{/if}}
        </main>
        <footer>
            <div></div>
        </footer>
    </div>
    {{/each}} <!-- end of mobileScreen -->
</div> --}}


{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}