<main>
  <section>
{{> heading caption='Мої замовлення' blue=true}}
        <div class='card__container'>
          {{#each data}}
            <div class='card'>
              <span class='card-caption'>ID :{{purchaseId}}</span>
              <div class='card-block'>
                <span class='card-caption'>Товари</span>
                <h5>{{purchaseName}}</h5>
              </div>
              <div class='card-block'>
                <span class='card-caption'>Сума замовлення</span>
                <h5>{{purchasePrice}}&#8372;</h5>
              </div>
              <div class='card-block'>
                <span class='card-caption'>Нараховані бонуси</span>
                <h5>{{bonuees}}</h5>
              </div>
                <a href='/purchase-edit?id={{purchaseId}}'>Редагувати</a>
                <a href='/purchase-info?id={{purchaseId}}'>Детальніше</a>
            </div>
          <hr>
          {{/each}}
        </div>
    </div>
  </section>
</main>