{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <section class="section anchor">{{text}}</section>
    <section class="section">{{text}}</section>
    <section class="section">{{text}}</section>
    <section class="section">{{text}}</section>
    <section class="section">{{text}}</section>
    <section class="section">{{text}}</section>
    <div id="scrollBtn">
        <img src="/svg/scroll.svg" alt="scroll">
    </div>
</main>


{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}