<main>
  <section>
    <form class='form grid gap-20' action='/purchase-alert' method='post'>
      <div class='main__caption'>Ваше замовлення</div>
      <div class="grid gap-20">
        <div class="justify">
          <div>{{name}}</div>
          <div class="text-bold">{{price}}&#8372;</div>
        </div>
        <div class="justify">
          <div>Вартість доставки</div>
          <div class="text-bold">150&#8372;</div>
          <input type="hidden" name='deliveryPrice' value="150">
        </div>
      </div>
        <div class='form__title line-height'>Оформлення замовлення</div>
        <div class='grid col-2 gap-20'>
          <label for='userSurname' class='form__label'>Прізвище
            <input type='text' name='userSurname' class='form__input'>
          </label>
          <label for='userName' class='form__label'>Ім'я
            <input type='text' name='userName' class='form__input'>
          </label>
          <label for='userPhone' class='form__label'>Мобільний телефон
            <input type='text' name='userPhone' class='form__input'/>
          </label>
          <label for='userEmail' class='form__label'>Електронна пошта
            <input type='text' name='userEmail' class='form__input'/>
          </label>
        </div>
        <label for='purchaseComment' class='form__label'>Коментар
          <textarea name='purchaseComment' class='form__input'></textarea>
          <small>Коментар буде передано кур’єру</small>
        </label>
        <div class='grid col-2 gap-20'>
          <label for='writeOffBonuses' class='form__label'>Списати бонуси
            <input type='text' name='writeOffBonuses' class='form__input'/>
          </label>
          <label for='purchasePromoCode' class='form__label'>Промо-код
            <input type='text' name='purchasePromoCode' class='form__input'/>
          </label>
        </div>
        <div>
          <span class='text-bold'>Всього: </span>
          <span class="text-bold">{{price}}&#8372; </span>
          <span class="text-bold">(+{{price}}*{{purchasePromoCode}}&#8372; на бонусний рахунок)</span>
        </div>
        <button class='button blue-button'>Оформити замовлення</button>
    </form>
  </section>
</main>