    <form class='form grid' action='/purchase-edit?id={{purchaseId}}' method='get'>
      {{> heading caption=caption blue=true}}
      <div>
        <span class='card-caption'>ID:</span>
        <br>
        <span>{{purchaseId}}</span>
      </div>
        <div class='grid col-2 gap-20'>
          <label for='userSurname' class='form__label'>Прізвище
            <div class="text-bold">{{purchaseUserSurame}}</div>
          </label>
          <label for='userName' class='form__label'>Ім'я
            <div class="text-bold">{{purchaseUserName}}</div>
          </label>
          <label for='userPhone' class='form__label'>Мобільний телефон
            <div class="text-bold">{{purchaseUserPhone}}</div>
          </label>
          <label for='userEmail' class='form__label'>Електронна пошта
            <div class="text-bold">{{purchaseUserEmail}}</div>
          </label>
        </div>
        <label for='purchaseComment' class='form__label'>Коментар
          <div class="text-bold">{{purchaseComment}}</div>
        </label>
        <label for='purchaseComment' class='form__label'>Назва товару
          <div class='text-bold'>{{purchaseName}}</div>
        </label>
        <div class='grid col-2 gap-20'>
          <div>
            Вартість доставки
            <div class="text-bold">{{purchaseDeliveryPrice}}&#8372;</div>
          </div>
          <div>
            Вартість товару
            <div class="text-bold">{{productPrice}}</div>
          </div>
          <div>
            Сума до сплати:
            <div class="text-bold">{{purchasePrice}}&#8372;</div>
          </div>
          <div>
            Нараховані бонуси:  
            <div class="text-bold">{{bonuses}}</div>
          </div>
        </div>
        <button class='button blue-button'>Змінити дані</button>
    </form>