    <form class='form grid' action='/purchase-edit?i={{purchaseId}}' method='get'>
      {{> heading caption=caption blue=true}}
      <span class='card-caption'>ID :{{purchaseId}}</span>
      <div class="grid gap-20">
          <div>Вартість доставки</div>
          <div class="text-bold">150&#8372;</div>
          <input type="hidden" name='deliveryPrice' value="150">
        </div>
        <div class="justify">
          <div>Кількість товару</div>
          <div class="text-bold">{{amount}}</div>
        </div>
      </div>
        <div class='grid col-2 gap-20'>
          <label for='userSurname' class='form__label'>Прізвище
            <div class="text-bold">{{purchaseUserSurame}}</div>
          </label>
          <label for='userName' class='form__label'>Ім'я
            <div class="text-bold">{{purchaseUserName}}</div>
          </label>
          <label for='userPhone' class='form__label'>Мобільний телефон
            <div class="text-bold">{{purchaseUserPhone}}</div>
          </label>
          <label for='userEmail' class='form__label'>Електронна пошта
            <div class="text-bold">{{purchaseUserEmail}}</div>
          </label>
        </div>
        <label for='purchaseComment' class='form__label'>Коментар
          <div class="text-bold">{{purchaseComment}}</div>
        </label>
        <label for='purchaseComment' class='form__label'>Назва товару
          <div class='text-bold'>{{productName}}</div>
        </label>
        <div class='grid col-2 gap-20'>
          <label for='writeOffBonuses' class='form__label'>Списати бонуси
            <input type='text' name='writeOffBonuses' class='form__input'/>
          </label>
          <label for='purchasePromoCode' class='form__label'>Промо-код
            <input type='text' name='purchasePromoCode' class='form__input'/>
          </label>
        </div>
        <button class='button blue-button'>Змінити дані</button>
    </form>