<div class="pane">
    {{> heading caption=caption center=true }}
  <div class='card-container'>
    <div class='card'>
      <img width="56px" height="56px" src='/img/playlist.svg' alt="playlist" />
      <div class='playlistType'>{{playlistName}}</div>
      <div class='playlistTitle'>{{playlistTitle}}</div>
      <input type="hidden" name='playlistAmount' value="{{playlistAmount}}">
    </div>
    <div class='card'>
      <img width="56px" height="56px" src='/img/union.svg' alt="mix" />
      <div class='playlistType'>{{playlistName}}</div>
      <input type="hidden"  name='playlistName' value="{{playlistName}}">
      <div class='playlistAmount'>{{playlistAmount}}</div>
      <input type="hidden" name='playlistAmount' value="{{playlistAmount}}">
    </div>
  </div>
</div>